@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000307;
    --foreground: #faffff;

    --text: var(--foreground);
    --text-dark: var(--background);
    --placeholder: #a0a4a6;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #3399cc;
    --primary-foreground: var(--foreground);
    --primary-shade: #081b27;

    --secondary: #e4b61a;
    --secondary-foreground: var(--foreground);
    --secondary-shade: #121109;

    --button: #3399cc;
    --button-dark: #297aa3;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --orange: #ed7124;
    --orange-shade: #130c09;

    --green: #6ec531;
    --green-shade: #09130a;

    --inactive: #c0c0c0;

    --destructive: #ff002a;
    --destructive-foreground: var(--foreground);
    --destructive-shade: #14030a;

    --border: 214.3 31.8% 91.4%;

    --input: #282c2f;
    --input-active: #040f16;
    --input-disabled: #121417;
    --input-foreground: var(--placeholder);

    --ring: #3399cc;
    --ring-secondary: #e4b61a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000307;
    --foreground: #faffff;

    --text: var(--foreground);
    --text-dark: var(--background);
    --placeholder: #a0a4a6;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #3399cc;
    --primary-foreground: var(--foreground);
    --primary-shade: #081b27;

    --secondary: #e4b61a;
    --secondary-foreground: var(--foreground);
    --secondary-shade: #121109;

    --button: #3399cc;
    --button-dark: #297aa3;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --orange: #ed7124;
    --orange-shade: #130c09;

    --green: #6ec531;
    --green-shade: #09130a;

    --inactive: #c0c0c0;

    --destructive: #ff002a;
    --destructive-foreground: var(--foreground);
    --destructive-shade: #14030a;

    --input: #282c2f;
    --input-active: #040f16;
    --input-disabled: #121417;
    --input-foreground: var(--placeholder);

    --ring: ##3399cc;
    --ring-secondary: #e4b61a;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-placeholder;
  }
  body {
    @apply bg-background text-foreground;
  }
}
